@import '@styles/variables'

.game-card
  position: relative
  width: 100px
  height: 160px
  display: flex
  align-items: center
  column-gap: 10px
  justify-content: center
  transition: all 0.3s ease-out

  &-hover
    position: relative
    width: 100px
    height: 160px
    display: flex
    align-items: center
    column-gap: 10px
    justify-content: center
    cursor: pointer
    transition: transform 0.3s ease-out
    background-color: $green-select
    transform: translateY(-10%)

    img
      width: 100px
      height: 160px

  &-name
    position: absolute
    top: 10%
    left: 20%
    transform: translate(-50%, -50%)

  &-value
    max-width: 80px
    font-size: 20px
    font-weight: 700

  &-select-bg-color
    position: absolute
    top: 0
    right: 0
    left: 0
    bottom: 0
    background-color: $green-select

  &-select-icon
    position: absolute
    top: 0
    right: 0
    background: url('../../../assets/icons/checked-card.svg') center / contain
    width: 30px
    height: 30px
