@import 'config'
@import 'variables'

.app-container
  display: flex
  flex-direction: column
  height: 100%
  justify-content: space-between
  
.container
  max-width: 1440px
  margin: 0 auto
  padding: 0 30px
  width: 100%
  @media (max-width: 760px)
    padding: 0 20px
  @media (max-width: 450px)
    padding: 0 10px

.transition-enter
  opacity: 0

  &-active
    opacity: 1
    transition: opacity 0.3s ease-in
    
.error-down
  position: relative
  
.error-container
  position: absolute
  left: 0
  bottom: -30px
  font-size: 14px
  font-weight: 700
  color: $red

.body-modal
  background-color: #fff
  max-width: 600px
  border: 1px solid $lightgrey
  outline: none
  padding: 30px
  position: relative
  top: 40%
  left: 50%
  transform: translate(-50%, -40%)
  @media (max-width: 600px)
    max-width: 400px

  @media (max-width: 700px)
    max-width: 450px

.header-modal
  font-size: 36px
  font-weight: 700
  margin-bottom: 20px
  color: $text-color
  @media (max-width: 700px)
    font-size: 30px

.input-modal
  margin-bottom: 20px

.switch-modal
  margin-bottom: 20px
  display: flex
  align-items: center
  &-switch
    margin-right: 5px
  &-label
    color: $text-color
