@import 'config'
@import 'variables'

.app-container
  display: flex
  flex-direction: column
  height: 100%
  justify-content: space-between

.container
  max-width: 1440px
  margin: 0 auto
  padding: 0 30px
  @media (max-width: 760px)
    padding: 0 20px
  @media (max-width: 450px)
    padding: 0 10px

.error-down
  position: relative
  
.error-container
  position: absolute
  left: 0
  bottom: -30px
  font-size: 14px
  font-weight: 700
  color: $red
