$grey: #424242
$lightgrey: #ccc
$light: #efefef
$white: #fff
$font-size: 16px
$text-color: $grey
$system: -apple-system, BlinkMacSystemFont, Arial, sans-serif
$font-family: Roboto, sans-serif
$background: #fff
$yellow: #ffe4ad
$blue: #3c4180
$blue-dark: #51a1aa
$red: #fd8369
$error-red: #f44336
$space-cadet: #2b3a67
$dark-electric-blue: #496a81
$sage: #b3af8f
$accent: $blue
$green-select: #60DABF75
$green-icon: #60DABF
$green: #60DABF75
$chardonnay: #ffc482
$cadet-blue: #66999b
$bay-of-many: $space-cadet
$header-up-bg: $bay-of-many
$header-down-bg: $cadet-blue
$footer-bg: $bay-of-many
$link: $cadet-blue
$active-link: $chardonnay
$accent: $dark-electric-blue
$error: $error-red
