@import '@styles/variables'

.game-voting-section
  display: flex
  flex: 0 0 auto
  flex-direction: column
  margin-bottom: 30px
  gap: 15px

.game-card-container
  display: flex
  flex-wrap: wrap
  gap: 15px

.coffee-icon
  width: 20px
  padding-bottom: 5px
